In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("./border_traffic_UA_PL_01_03.csv")

In [3]:
data.describe()

       Number of persons (checked-in)  Number of people (evacuated)
count                    54233.000000                  54233.000000
mean                        78.063485                     33.785555
std                        681.611425                    312.917389
min                          0.000000                      0.000000
25%                          0.000000                      0.000000
50%                          1.000000                      0.000000
75%                          4.000000                      1.000000
max                      24662.000000                  13641.000000

In [4]:
data.head()

,Border Guard Post,Border crossing,Type of border crossing,Border Guard Unit,Date,Direction to / from Poland,Citizenship (code),UE / Schengen,Number of persons (checked-in),Number of people (evacuated)
0,Dorohusk,Dorohusk-Jagodzin,road,Nadbuzanski,2022-01-01,arrival in Poland,BY,0,7,0
1,Dorohusk,Dorohusk-Jagodzin,road,Nadbuzanski,2022-01-01,arrival in Poland,DE,UE,29,0
2,Dorohusk,Dorohusk-Jagodzin,road,Nadbuzanski,2022-01-01,arrival in Poland,TR,0,2,0
3,Dorohusk,Dorohusk-Jagodzin,road,Nadbuzanski,2022-01-01,arrival in Poland,UA,0,389,0
4,Dorohusk,Dorohusk-Jagodzin,road,Nadbuzanski,2022-01-01,arrival in Poland,LV,UE,3,0